.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.Register{
    display: flex;
    flex-direction: column;
    border:solid 20px;
    width:fit-content;
    /* background-color: rgb(80, 199, 246); */
}

/* label{
    
} */